.aoi-list-title {
  font-weight: 400;
  font-size: 24px;
  padding-left: 40px;
  padding-bottom: 33px;
  margin-bottom: 10px;
  color: white;
  border-bottom: 1px solid #343a3f;
}

.aoi-critical-value-wrapper {
  text-align: right;
}
.aoi-critical-value-positive {
  color: #24a148;
  text-align: left;
}

.aoi-critical-value-negative {
  color: #da1e28;
  text-align: left;
}
.aoi-critical-value-neutral {
  display: flex;
  color: #878d96;
  margin-left: 10px;
}

.status {
  display: flex;
}

.status-dot {
  width: 40px;
  margin-right: -9px;
}

.status-line {
  line-height: 38px;
}

.icon-arrow {
  width: 16px;
}

.aoi-table {
  border-spacing: 0px;
  width: 100%;
}

.aoi-table th {
  padding: 1rem;
  background-color: #21272a;
  color: #ffffff;
  border: none;
  font-weight: 300;
  font-size: 18px;
}

.aoi-table td {
  padding: 1rem;
  cursor: pointer;
}

.aoi-table td:nth-child(5) {
  padding: 0;
  margin: 0;
}

.select {
  border-left: 2px solid #0f62fe;
}
.select-row {
  background-color: #343a3f;
}

.aoi-table tbody tr {
  position: relative;

  transition: background-color 0.5s ease-out;
}

.aoi-table tbody tr:hover {
  background-color: #343a3f;
}

.aoi-table tbody tr:hover td:nth-child(1) {
  border-left: 2px solid #0f62fe;
}

.aoi-table tbody tr:hover .tooltip-box {
  visibility: visible;
}

.tooltip-box {
  z-index: 999;
  visibility: hidden;
  position: absolute;
  top: 60px;
  left: 230px;
  color: #fff;
  background-color: #4d5358;
  width: 230px;
  padding: 8px 8px;
  text-align: justify;
  font-weight: 400;
  font-size: 14px;
}

.aoi-table tbody tr:nth-child(10):hover .tooltip-box,
.aoi-table tbody tr:nth-child(11):hover .tooltip-box,
.aoi-table tbody tr:nth-child(12):hover .tooltip-box {
  top: -160px;
}

.aoi-table tr th {
  text-align: left;
}

.aoi-table tr th:nth-child(2),
.aoi-table tr th:nth-child(3) {
  text-align: center;
}
