.grid-with-two-columns {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 8px;
  overflow: hidden;
}
.left-column {
  display: grid;
  gap: 8px;
}
.right-column {
  display: grid;
  gap: 8px;
  grid-template-rows: 276px;
}

.column-1-row-1 {
  background-color: #121619;
  color: white;
}
.column-1-row-2 {
  background-color: #121619;
  color: white;
}
.column-2-row-1 {
  background-color: #121619;
  color: white;
  height: 276px;
}
.column-2-row-2 {
  background-color: #121619;
  color: white;
}
