.App {
  display: flex;
  flex-direction: row;
  background-color: black;
}
.side-navbar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.display-pages {
  width: 100%;
  min-height: 100vh;
  flex-grow: 1;
}
